mixin card(cardClass, title, subtitle,srcImg,imgClass)
	a(href="#").card(class=cardClass)
		h2.card__title #{title}
		h3.card__subtitle #{subtitle}
		.card__arrow-wrap
			span.card__arrow
		img.card__img(alt="Катушка" src=srcImg class=imgClass)