mixin card-slider(cardClass, title, subtitle, price, button)
	div.card-slider(class=cardClass)
		h2.card-slider__title #{title}
		h3.card-slider__subtitle #{subtitle}
		span.card-slider__price #{price}
		button.button.button_black-buy(type="button") #{button}
		img.card-slider__img(alt="Катушка" src="assets/img/bobbin.png")
		
