mixin item-first(cardClass, title, subtitle, discont, price, srcImg, imgClass, sp)
	a.item-first(href="#" class=cardClass)
		h2.item-first__title #{title}
		span.item-first__span #{sp}
		h3.item-first__subtitle #{subtitle}
		span.item-first__discont #{discont}
		span.item-first__price #{price}
		img.item-first__img(alt="Катушка" src=srcImg class=imgClass)
		span.card__arrow-wrap
			.card__arrow


mixin item(cardClass, good, srcImg, price, lastPrice, benefit)
	a.item(href="#" class=cardClass)
		img.item__img(alt="Катушка" src=srcImg class=imgClass)
		+rate()
		span.item__discont Скидка
		span.item__hit Хит
		.item__rate
		h3.item__good #{good}
		span.item__price #{price}
		span.item__last-price #{lastPrice}
		span.item__benefit #{benefit}
		button.button.button_in-cart(type="button") В корзину


mixin item-news(imgSrc)
	.item-news
		span.item-news__date 13.02.2019
		img(alt="новость" src=imgSrc)
		.item-news__text
			h3.item-news__subtitle Презентация нового продукта
			p.item-news__description Сайт рыбатекст поможет дизайнеру, верстальщику, вебмастеру сгенерировать несколько абзацев более менее осмысленного текста рыбы на русском языке, а начинающему оратору отточить навык публичных...
			a(href="#").link-all-catalog Подробнее